body {
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
  line-height: 1.4rem;
  background: linear-gradient(180deg, #E0F2FA 20%, #FFFDE6 100%);
  min-height: 100vh;
  color: #0F2137 !important;
}

table {
  max-width: 600px;
}

td {
  padding: 0.8rem!important;
}

tbody,
td,
tfoot,
th,
thead,
tr {
  border: none;
  background: none !important;
}

.btn.btn-outline-primary {
  color: #222D89;
  border-color: #222D89;
}

.btn.btn-outline-primary:hover {
  color: #fff;
  background: #222D89;
}

h1 {
  font-weight: 700;
}

.container {
  max-width: 960px !important;
}